<% include partials/header.ejs %>
<% include partials/nav.ejs%>
<header class="weather-page-header">
  <% include partials/search.ejs %>
</header>
<h2 class="mtn-name"> <%= conditions.data.nearest_area[0].areaName[0].value%> </h2>
<h3 class="mtn-location"> <%= conditions.name%></h3>
<ul class="google-stats">
  <li>Distance: 1 hr 23 mins</li>
  <li>Traffic: Moderate</li>
</ul>
<ul class="conditions">
  <li>Weather: <%= conditions.data.weather[0].hourly[0].bottom[0].weatherDesc[0].value %></li>
  <li>Current Temp: <%= conditions.data.weather[0].hourly[0].bottom[0].tempF %> </li>
  <li>High Temp: <%= conditions.data.weather[0].bottom[0].maxtempF %> </li>
  <li>Low Temp: <%= conditions.data.weather[0].bottom[0].mintempF %> </li>
</ul>
<% include partials/footer.ejs %>
