<% include partials/header.ejs %>
<% include partials/nav.ejs%>
<div class="weather-container">
  <header class="weather-page-header">
    <% include partials/search.ejs %>
  </header>
  <h2 class="mtn-name" data-longitude="<%= conditions.data.nearest_area[0].longitude %>" data-latitude="<%= conditions.data.nearest_area[0].latitude %>"> <%= conditions.data.nearest_area[0].areaName[0].value%> </h2>

  <h3 class="mtn-location" id="latitude" name="mtnLocation" value="<%= conditions.data.nearest_area[0].latitude %>"> <%= conditions.name%></h3>
  <ul class="google-stats">
    <li> <%= conditions.data.nearest_area[0].distance_miles %> miles from <%= conditions.data.request[0].query%></li>
  </ul>

  <button class="favButton glyphicon glyphicon-plus-sign">Add to My Resorts</button>
  <ul class="conditions">
    <li>Weather: <%= conditions.data.weather[0].hourly[0].bottom[0].weatherDesc[0].value %></li>
    <li>Current Temp: <%= conditions.data.weather[0].hourly[0].bottom[0].tempF %> </li>
    <li>High Temp: <%= conditions.data.weather[0].bottom[0].maxtempF %> </li>
    <li>Low Temp: <%= conditions.data.weather[0].bottom[0].mintempF %> </li>
  </ul>
</div>
<% include partials/footer.ejs %>
